<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson_record.lesson_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @lesson_record.word_id %>
</p>

<%= link_to 'Edit', edit_lesson_record_path(@lesson_record) %> |
<%= link_to 'Back', lesson_records_path %>
