<%= form_with(model: word_library, local: true) do |form| %>
  <% if word_library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_library.errors.count, "error") %> prohibited this word_library from being saved:</h2>

      <ul>
      <% word_library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="form-group">
      <label>教材</label>
      <%= collection_select(:word_library, :library_id, Library.all, :id, :name, {}, {class: 'form-control'}) %>
    </div>


    <div class="form-group">
      <label>单词</label>
      <%= collection_select(:word_library, :word_id, Word.all, :id, :word, {}, {class: 'form-control'}) %>
    </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
