










<p id="notice"><%= notice %></p>


<p>
  <strong>Word:</strong>
  <%= @word_library.word.word %>
</p>

<p>
  <strong>Library:</strong>
  <%= @word_library.library.name %>
</p>



<%= link_to 'Edit', edit_word_library_path(@word_library) %> |
<%= link_to 'Back', word_libraries_path %>
