<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">教材列表</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">教材列表</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<% if notice %>
<p id="notice"><%= notice %></p>
<%end%>

<div class="row">

  <div class="col-xs-12 col-sm-12 ">
    <div class="card mb-3">
      <div class="card-header">
        <h3><i class="fa fa-table"></i> 教材信息</h3>
      </div>


      <div class="card-body">

        <div class="table-responsive">
          <table id="libraries-list" class="table table-bordered table-hover display">
          <thead>
          <tr>
            <th scope="col"> 教材</th>
            <th scope="col">课本</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @libraries.each do |library| %>
              <tr>
                <th><%= library.version %></th>
                <th><%= library.book %></th>
                <td><%= link_to '查看', library %></td>
                <td><%= link_to '编辑', edit_library_path(library) %></td>
                <td><%= link_to '删除', library, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>


          </tbody>
        </table>
        </div>
      </div>

      </div>
    </div><!-- end card-->
  </div>
</div>

<script>
    $('#sidebar-libraries, #sidebar-libraries-list').addClass('active');
</script>

<script>
    $(function () {
        var table = $('#libraries-list').DataTable({
            'paging'      : true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : true,
            'language'    : {
                "url" : '//cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
            }

        });
    });
</script>