

<% if notice %>
    <script>
        swal("操作成功!", "<%=notice %>", "success");
    </script>
<% end %>


<p>
  <strong>Name:</strong>
  <%= @library.version %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @library.book %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
