<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-4 offset-md-3" style="margin-top: 5%">
    <h2 class="text-center"><strong>智能</strong>记忆</h2>
    <br>
    <div class="card mb-3">
      <div class="card-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label>电子邮箱</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
            </div>


            <div class="form-group">
              <label>密码</label>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
            </div>


            <div class="form-check">
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>
                  <label>记住我的登录</label>
              <% end -%>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        <% end %>
      </div>





    </div>
    <%= render "devise/shared/links" %><!-- end card-->
  </div>


</div>

