<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="form-group">
      <label >单词</label>
      <%= form.text_field :word, class:'form-control' , required: true %>
    </div>

    <div class="form-group">
      <label >解释</label>
      <%= form.text_field :meaning, class:'form-control', required: true  %>
    </div>





    <%= form.submit '提交', class:'btn btn-primary'%>


<% end %>
