<%= form_with(model: word, local: true) do |form| %>
    <div class="row">
      <% if word.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

            <ul>
              <% word.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div class="col-md-6 col-sm-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">单词信息</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->

          <div class="box-body">
            <div class="form-group">
              <label>单词</label>
              <%= form.text_field :word, class: 'form-control', required: true, placeholder: '请输入单词' %>
            </div>

            <div class="form-group">
              <label>音标</label>
              <%= form.text_field :phonetic, class: 'form-control', required: true, placeholder: '请输入音标' %>
            </div>

          </div>
          <!-- /.box-body -->

        </div>
      </div>


      <div class="col-md-6 col-sm-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">词语释义</h3>
          </div>

          <!-- /.box-header -->
          <!-- form start -->

          <div class="box-body">

            <%= form.fields_for :word_meanings do |meanings_form| %>


                <div class="form-group">
                  <label>词性</label>
                  <%= meanings_form.select :character, WordMeaning.characters, {}, class: 'form-control select2', style:'width: 100%;' %>
                </div>

                <div class="form-group">
                  <label>解释</label>
                  <%= meanings_form.text_field :meaning,  class: 'form-control', required: true, placeholder: '请输入单词含义' %>
                </div>

            <% end %>


          </div>
          <!-- /.box-body -->

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-offset-4 col-md-4 text-center">


        <%= button_tag class: 'btn btn-primary btn-block' do %>
            <i class="fa fa-check"></i> 提交
        <% end %>

      </div>
    </div>

<% end %>


