<section class="content-header">
  <h1>
    单词列表
  </h1>
  <ol class="breadcrumb">
    <li>

      <%= link_to home_index_path do %>
          <i class="fa fa-dashboard"></i> 主页
      <% end %>

    </li>
    <li><%= link_to '单词列表', words_path %></li>
    <li class="active">单词列表</li>
  </ol>
</section>



<h1><%= '单词列表' %></h1>

<% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>单词</th>
    <th>解释</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= word.meaning %></td>

        <td><%= link_to '查看', word %></td>
        <td><%= link_to '编辑', edit_word_path(word) %></td>
        <td><%= link_to '删除', word, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<br>

<%= link_to '添加单词', new_word_path, class: 'btn btn-primary' %>


<script>
    $('#sidebar-words, #sidebar-words-list').addClass('active');
</script>

