<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">单词列表</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">单词列表</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


  <% if notice %>
      <script>
          swal("操作成功!", "<%=notice %>", "success");
      </script>
  <% end %>



  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="card mb-3">
        <div class="card-header">
          <h3><i class="fa fa-table"></i> 详细信息</h3>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table id="words-list" class="table table-bordered table-hover display">
              <thead>
            <tr>
              <th>单词</th>

              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
              <tbody>

              <% @words.each do |word| %>
                  <tr>
                    <td><%= word.word %></td>

                    <td><%= link_to '查看', word %></td>
                    <td><%= link_to '编辑', edit_word_path(word) %></td>
                    <td><%= link_to '删除', word, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div><!-- end card-->
    </div>

    <!-- /.col -->
  </div>




<script>
    $('#sidebar-words, #sidebar-words-list').addClass('active');
</script>

<script>
    $(function () {
        $('#words-list').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : false,
            'info'        : true,
            'autoWidth'   : true,
            'language'    : {
                "url" : '//cdn.datatables.net/plug-ins/1.10.16/i18n/Chinese.json'
            }
        })
    });

</script>