
<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">单词信息</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">单词列表</li>
        <li class="breadcrumb-item active"><%= @word.word%></li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>








<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card border-primary mb-3">
      <div class="card-header">单词卡</div>
      <div class="card-body text-primary">
        <h1 class="card-title"><%= @word.word%>
          <div class="pull-right">
            <a href="#">
            <i class="fa fa-volume-up bigfonts " id="play-sound"></i>
            </a>
          </div></h1>

        <p class="card-text"><%= @word.phonetic %>

        </p>
      </div>
    </div>

    <%@word.word_meanings.each do |meaning| %>
    <div class="card border-primary mb-3">
      <div class="card-body text-primary">
        <h4 class="card-title"><%= meaning.meaning%> </h4>
        <p class="card-text"><%= meaning.character %></p>
      </div>
    </div>
    <%end%>

  </div>

</div>

<div class="row">
  <div class="col-md-6 col-sm-12 text-center">
    <%= link_to '返回', list_words_path,class:'btn btn-success btn-lg' %>
<%= link_to '编辑', edit_word_path(@word),class:'btn btn-danger btn-lg' %>

  </div>
</div>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>

<script>
  $('#play-sound').click(function(){

      var words = new SpeechSynthesisUtterance('<%= @word.word%>');
      words.lang='en-GB';
      window.speechSynthesis.speak(words);
  })

</script>