<%= form_with(model: test, local: true) do |form| %>
    <% if test.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

          <ul>
            <% test.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="form-group">
      <label>教材</label>
      <%= collection_select(:test, :library_id, Library.all, :id, :name, {}, {class: 'form-control'}) %>
    </div>



    <%= form.hidden_field :user_id, value: current_user %>
      <%= form.submit '开始测试', class: 'btn btn-primary' %>
<% end %>
