<h1 class="text-center"> <%= @test.library.name %> </h1>


<h1> <%= @test.user.email %></h1>


<% unless @word %>
    <h5>您已完成全部测试。</h5>
<% else %>


    <div class="row">

      <div class="col-md-6 col-sm-12">
        <h1 ><%= @word.meaning %></h1>

      </div>

      <div class="col-md-6 col-sm-12">

        <%= form_for TestRecord.new do |f| %>


            <div class="form-group">
              <label>拼写</label>
              <%= f.text_field :input, class:'form-control', required: true  %>
            </div>


            <%= f.hidden_field :test_id, value: @test.id%>
            <%= f.hidden_field :word_id, value: @word.id%>

            <%= submit_tag '提交',class:'btn btn-success'%>

        <% end %>



      </div>
    </div>
<% end %>


