<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">课程中心</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">课程中心</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 ">
  <div class="card mb-3">
    <div class="card-header">
      <h3><i class="fa fa-book"></i> 正在学习</h3>

    </div>

    <div class="card-body">

      <% if @chapters_in_progress.size > 0 %>


          <% @chapters_in_progress.each do |chapter_count| %>

              <% chapter = Chapter.find(chapter_count.first) %>
              <% chapter_progress = 100 * chapter.words.select{|word| word.passed( current_user.id)}.size.to_f /  chapter.words.count.to_f %>

              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <h4 class="card-title"><%= chapter.full_text %></h4>
                    <p class="card-text">


                      <% unless chapter_progress >= 100.0 %>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped progress-xs bg-primary" role="progressbar" style="width: <%= chapter_progress %>%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95"></div>
                        </div>
                      <% else %>

                        <button class="btn-outline-primary">已完成</button>

                       <% end %>
                    </p>

                    <%= link_to '继续学习', study_learn_path(chapter.id), class:'btn btn-primary'  %>
                    <%= link_to '开始测试', study_test_path(chapter.id),  class:'btn btn-danger'  %>
                  </div>
                </div>
              </div>

          <% end %>


      <% else %>
          <p>还没有正在学习的课程哦～</p>

      <% end %>

    </div>
  </div><!-- end card-->
</div>


<div class="col-xs-12 col-sm-12 ">
  <div class="card mb-3">
    <div class="card-header">
      <h3><i class="fa fa-book"></i> 课程库</h3>

    </div>

    <div class="card-body">

      <% if @chapters_registered.size > 0 %>

          <% @chapters_registered.each do |chapter| %>
              <div class="col-md-3 col-sm-6">
                <div class="card text-center">
                  <div class="card-body">
                    <h4 class="card-title"><%= chapter.full_text %></h4>
                    <p class="card-text">单词学习</p>

                    <%= link_to '开始课程', study_learn_path(chapter), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
          <% end %>

      <% else %>
          <p>还没有已经注册的课程哦，快去联系工作人员添加课程吧～</p>

      <% end %>

    </div>
  </div><!-- end card-->
</div>