<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left"><%= @chapter.full_text %></h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">课程中心</li>
        <li class="breadcrumb-item active"><%= @chapter.full_text %></li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



<div class="row">

  <div class="col-xs-12 col-sm-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3>学习进度</h3>
      </div>

      <div class="card-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-xs bg-primary" role="progressbar" style="width: <%=100 * @current_index.to_f / @all_words.size.to_f%>%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95"></div>
        </div>
      </div>

    </div><!-- end card-->
  </div>

  <div class="col-md-12">
    <% unless @current_index == @all_words.size - 1 %>
        <div class="card border-light mb-3">
          <div class="card-header">
            <h3>单词卡</h3>
          </div>

          <div class="card-body text-primary text-center">

            <h1 class="card-title word-demo">

              <div class="pull-left">
                <a role="button" href="#" id="play-sound" style="color:inherit"><i class="fa fa-volume-up "></i></a>
              </div>


              <% colors = ['#0f9df7', '#1bb99a', '#ff5d48', '#3db9dc', '#f1b53d'].shuffle() %>

              <% t_word = !@current_word.separate || @current_word.separate == '' ? @current_word.word : @current_word.separate %>

              <% t_word.split(' ').each_with_index do |word, i| %>


                  <div style=" color: <%= colors[i % 5] %>; display:inline-block; margin-left:-15px; font-size:200% " >
                    <%= word %></div>

              <% end %>
            </h1>

            <div class="pull-right">
              <% @current_word.word_meanings.each do |meaning| %>

                  <button type="button" class="btn btn-success" style="font-size: 150%">
                    <%= meaning.meaning %> </button> &nbsp;
                  <% if meaning.character != '无' %>
                      <button type="button" class="btn btn-outline-info"> <%= meaning.character %></button>
                  <% end %>
              <% end %>
            </div>

          </div>
          <div class="card-footer text-muted">

            <% if @current_index > 0 %>
                <%= link_to study_learn_path({word_id: @all_words[@current_index - 1]}), class: 'btn btn-primary' do %>
                    <span class="btn-label btn-label"><i class="fa fa-arrow-left"></i></span>上一个
                <% end %>
            <% end %>


            <% if @current_index < @all_words.size - 1 %>
                <div class=" pull-right">
                  <%= link_to study_learn_path({word_id: @all_words[@current_index + 1]}), class: 'btn btn-primary' do %>
                      下一个<span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span>
                  <% end %></div>

            <% else %>
                <div class=" pull-right">
                  <%= link_to study_learn_path(@chapter), class: 'btn btn-primary' do %>
                      下一个<span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span>
                  <% end %></div>
            <% end %>
          </div>
        </div>

    <% else %>
        <div class="card border-light mb-3">
          <div class="card-header">
            <h3>单词卡</h3>
          </div>

          <div class="card-body text-primary text-center">
            你已经学完所有单词

          </div>

          <div class="card-footer text-muted">

            <%= link_to '返回课程中心', study_center_path, class: 'btn btn-primary' %>

            <div class=" pull-right">
              <%= link_to '重新学习', study_learn_path({word_id: @all_words[0]}), class: 'btn btn-primary' %>
              <%= link_to '开始测试',study_test_path(chapter.id), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>


<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<script src="/js/playsound.js"></script>

<script>
    var play_word = function () {
        var appKey = '124d21e4ca899cb4';
        var key = 'yp91G06lpXa1iSoSKUbEoOoXG6n5P39N'; //注意：暴露appSecret，有被盗用造成损失的风险
        var salt = (new Date).getTime();
        var query = '<%= @current_word.word%>';
        var from = 'en';
        var to = 'en';
        var str1 = appKey + query + salt + key;
        var sign = md5(str1);
        $.ajax({
            url: 'https://openapi.youdao.com/api',
            type: 'post',
            dataType: 'jsonp',
            data: {
                q: query,
                appKey: appKey,
                salt: salt,
                from: from,
                to: to,
                sign: sign
            },
            success: function (data) {
                $.playSound(data.basic["uk-speech"])
            }
        });
    };

    $('#play-sound').click(function () {
        play_word();
    });

    play_word();

</script>