<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left"><%= @chapter.full_text %>  - 测试</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to home_index_path do %>
              主页

          <% end %></li>
        <li class="breadcrumb-item active">课程中心</li>
        <li class="breadcrumb-item active"><%= @chapter.full_text %></li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3>学习进度 (还剩<%= @total_words_count - @words_passed.size %>个）</h3>
      </div>

      <div class="card-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-xs <%= @not_touched_words.size == 0 ? 'bg-danger' : 'bg-primary' %>" role="progressbar" style="width: <%=100 * @progress%>%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95"></div>
        </div>
      </div>

    </div><!-- end card-->
  </div>


  <div class="col-xs-12 col-sm-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3>单词卡</h3>
      </div>
      <div class="card-body">

        <% if @current_word %>

            <div class="pull-left">
              <a class="btn btn-outline-primary" role="button" href="#" id="play-sound"><i class="fa fa-volume-up fa-2x "></i></a>
              &nbsp;
            </div>

            <% @current_word.word_meanings.each do |meaning| %>
                <button class="btn btn-success" style="font-size: 150%">
                  <%= meaning.meaning %>
                </button>
                <button class="btn btn-outline-success" style="font-size: 150%">
                  <%= meaning.character %></button>
            <% end %>


            <%= form_with(model: @test_record, remote: true) do |form| %>
                <% if @test_record.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(test_record.errors.count, "error") %> prohibited this test_record from being
                        saved:</h2>

                      <ul>
                        <% @test_record.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <%= form.hidden_field :word, value: @current_word.word %>
                <%= form.hidden_field :word_id, value: @current_word.id %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.hidden_field :chapter_id, value: @chapter.id %>





                <div class="text-center input-answer-box">
                  <input style="display:none">
                  <%= form.text_field :answer, class: 'input-answer', autocomplete: "off", autofocus: 'on', autocorrect: false, spellcheck: "false" %>

                </div>
                <div class="pull-right">
                  <%= form.submit '提交', class: 'btn btn-danger btn-lg', id: 'submit-answer' %>
                </div>
                <div class="col-md-12">


                </div>
            <% end %>

        <% else %>
            你已经测试完所有单词


        <% end %>

      </div>
      <% unless @current_word %>
          <div class="card-footer text-muted">
            <%= link_to '返回课程中心', study_center_path, class: 'btn btn-primary' %>
          </div>
      <% end %>

    </div>
  </div>
</div>


<% if @current_word %>
    <%= render 'study/keyboard' %>

<% end %>

<script src="/assets/js/md5.js"></script>
<script src="/js/playsound.js"></script>

<script>

    $(document).ready(function () {
        <% if @current_word %>

        $('#submit-answer').click(function () {
            if ($("input[name='test_record[word]']").val().toLowerCase() === $("input[name='test_record[answer]']").val().toLowerCase()) {
                swal("回答正确!", '将在1秒后，自动测试下个单词...', "success");
                window.setTimeout(function () {
                    location.href = "<%= study_test_path %>";
                }, 100);
            }
            else {
                swal("回答错误! 正确答案为 <%= @current_word.word %>", '将在2秒后，自动测试下个单词...', "error");
                window.setTimeout(function () {
                    location.href = "<%= study_test_path %>";
                }, 3000);
            }

        });


<!--        var play_word = function () {-->
<!--            var appKey = '124d21e4ca899cb4';-->
<!--            var key = 'yp91G06lpXa1iSoSKUbEoOoXG6n5P39N'; //注意：暴露appSecret，有被盗用造成损失的风险-->
<!--            var salt = (new Date).getTime();-->
<!--            var query = '<%= @current_word.word%>';-->
<!--            var from = 'en';-->
<!--            var to = 'en';-->
<!--            var str1 = appKey + query + salt + key;-->
<!--            var sign = md5(str1);-->
<!--            $.ajax({-->
<!--                url: 'https://openapi.youdao.com/api',-->
<!--                type: 'post',-->
<!--                dataType: 'jsonp',-->
<!--                data: {-->
<!--                    q: query,-->
<!--                    appKey: appKey,-->
<!--                    salt: salt,-->
<!--                    from: from,-->
<!--                    to: to,-->
<!--                    sign: sign-->
<!--                },-->
<!--                success: function (data) {-->
<!--                    $.playSound(data.basic["uk-speech"])-->
<!--                }-->
<!--            });-->
<!--        };-->

        var play_word = function() {
            var a = new Audio("http://dict.youdao.com/dictvoice?audio=<%= @current_word.word%>");
            a.play();
        };

        $('#play-sound').click(function () {
            play_word();
        });

        play_word();

        <%end%>

    });


</script>
