<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>智能记忆</title>
  <%= csrf_meta_tags %>

  <% stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application'%>


  <%= render 'layouts/head' %>
</head>

<body class="hold-transition skin-blue-light sidebar-mini sidebar-collapse">


<div class="wrapper">

  <%= render 'layouts/header' %>

  <%= render 'layouts/sidebar' %>

  <div class="content-wrapper">
    <%= yield %>

  </div>
</div>


<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- DataTables -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>



<script>
    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2').select2();

        $('.sidebar-menu').tree()
    })
</script>

</body>
</html>
